{
  "presets": ["env"],
  "plugins": [
    ["babel-plugin-transform-object-entries"],
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "@",
        "rootPathSuffix": "src/"
      }
    ],
  ],
  "env": {
    "test": {
      "presets": ["es2017","stage-2"]
    }
  }
}